$bg-primary: #0b1d26;
$color-primary: #fff;
$accent-color: #fbd784;

@use "style";

footer {
	& > div > ul {
		display: flex;
		gap: 1rem;
	}
	& > div > ul {
		& > li > a {
			text-decoration: none;
		}
		& > li:nth-child(1) {
			color: $accent-color !important;
			font-size: 1.2rem;
		}
	}
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	padding: 1rem 2rem;
	@media (max-width: 760px) {
		padding: 1rem auto;
		align-items: center;
		justify-content: flex-start;
	}
	flex-wrap: wrap;
	max-width: 100vw;
	& * {
		max-width: 500px;
		box-sizing: border-box;
	}

	& > * {
		width: 200px;
		flex-shrink: 1;
	}
	.footer-brand {
		width: auto;
		flex-grow: 0;
		flex-shrink: 0 !important;
		max-width: 90%;
		.footer-brand-name {
			font-size: 30px;
			text-decoration: none;
			&:hover {
				@include style.underlineDecorate();
			}
		}
	}
	a {
		color: $color-primary !important;
		&:hover {
			@include style.underlineDecorate();
		}
		.active {
			@include style.underlineDecorate();
		}
	}
}
